<ng-container *ngIf="vmUser$ | async as vmUser">
  <ng-container *ngIf="userId === vmUser?._id; else showMessageBlock">
    <div class="row justify-content-center">
      <div class="col-8 mt-4">
        <h4>Edit Profile</h4>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group my-3">
            <label for="firstName">First Name:</label>
            <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="model.firstName" required
              id="firstName" class="form-control">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
              <div class="text-danger" *ngIf="firstName.errors?.required">
                First Name required
              </div>
            </div>
          </div>

          <div class="form-group my-3">
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" [(ngModel)]="model.lastName" required id="lastName" #lastName="ngModel"
              class="form-control form-control-lg">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
              <div class="text-danger" *ngIf="lastName.errors?.required">
                Last Name required
              </div>
            </div>
          </div>

          <div class="form-group my-3">
            <label for="email">Email Address:</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="model.email" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" class="form-control">
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <div class="text-danger" *ngIf="email.errors?.required">
                Email Address required
              </div>
              <div class="text-danger" *ngIf="email.errors?.['pattern']">
                Email is not valid
              </div>
            </div>
          </div>

          <div class="form-group my-3">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control form-control-lg" ngModel #password="ngModel"
              minlength="6" id="password" placeholder="*********">
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors?.['minlength']" class="text-danger">
                Password must be at least 6 characters long.
              </div>
            </div>
          </div>

          <div class="form-group my-3">
            <label for="passwordConfirm">Confirm Password:</label>
            <input type="password" name="passwordConfirm" class="form-control form-control-lg" ngModel
              [pattern]="f.value.password" #passwordConfirm="ngModel" id="passwordConfirm" placeholder="*********">
            <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)">
              <div class="text-danger" *ngIf="passwordConfirm.errors?.['pattern']">
                Passwords do not match
              </div>
            </div>
          </div>

          <div class="form-group my-3">
            <label for="phone">Phone Number:</label>
            <input type="text" name="phone" #phone="ngModel" [(ngModel)]="model.phone" required minlength="10"
              pattern="^[0-9]*$" id="phone" class="form-control">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
              <div class="text-danger" *ngIf="phone.errors?.required">
                Phone Number required
              </div>
              <div class="text-danger" *ngIf="phone.errors?.['pattern']">
                Phone Number is not valid
              </div>
              <div *ngIf="phone.errors?.['minlength']" class="text-danger">
                Phone Number must be at least 10 characters long.
              </div>
            </div>
          </div>

          <div class="form-group my-3">
            <label for="purpose">Type of Purchasing:</label>
            <select name="purpose" id="purpose" [(ngModel)]="model.purpose" class="form-control form-select">
              <option value="Other">Other</option>
              <option value="Private Customer">Private Customer</option>
              <option value="Wholesale Business">Wholesale Business</option>
              <option value="Franchise Member">Franchise Member</option>
            </select>
          </div>

          <div class="form-group my-3">
            <div class="row">
              <div class="col-3"> <label for="birthday">Date of Birth:</label></div>
              <div class="col-5">
                <input type="date" name="birthday" #birthday="ngModel" [(ngModel)]="model.birthday" required
                  id="birthday" class="form-control">
                <div *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
                  <div class="text-danger" *ngIf="birthday.errors?.required">
                    Required
                  </div>
                </div>
              </div>
              <div class="col-3"></div>
            </div>
          </div>

          <div class="form-group my-3">
            <div class="row ">
              <div class="col-3">Gender:</div>
              <div class="col-2">
                <input type="radio" name="gender" [(ngModel)]="model.gender" value="Male"> Male
              </div>
              <div class="col-4"><input type="radio" name="gender" [(ngModel)]="model.gender" value="Female">
                Female</div>
              <div class="col-3"></div>
            </div>
          </div>
          <button class="btn btn-warning m-1" [routerLink]="['/users/user-profile', userId]">
            <fa-icon [icon]="faArrowLeft" type="button"></fa-icon> Back To
            Profile
          </button>
          <button class="btn btn-info m-1" [disabled]="!f.form.valid" type="submit">Update My Profile<fa-icon
              [icon]="faEdit"></fa-icon>
          </button>
        </form>
      </div>
    </div>
  </ng-container>

  <ng-template #showMessageBlock>
    <app-not-authorized></app-not-authorized>
  </ng-template>
</ng-container>