<ng-container *ngIf="vm$ | async as vm">
  <div class="row">
    <div class="col-2 my-5 py-5">
      <a class="btn btn-info col-md-12 my-2" [routerLink]="['/mails/sent-mail']" role="button">
        New Mail
      </a>
      <a class="btn btn-info col-md-12 my-2 disabled" role="button">
        Incoming Mails
      </a>
      <a class="btn btn-info col-md-12 my-2" [routerLink]="['/mails/sent-mails']" role="button">
        Sent Mails
      </a>
    </div>

    <div class="col-1 my-5"></div>

    <div class="col-7 my-5">
      <h3 class="text-center mb-4"><strong>Incoming Mails:
        </strong></h3>

      <ng-container *ngIf="vm.mails?.inMails?.length; else showNoDataBlock">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>Date</th>
              <th>From</th>
              <th>Subject</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let mail of vm.mails.inMails">
              <tr>
                <td [ngStyle]="{'font-weight': !mail.open && 'bold'}">
                  {{mail.createdAt | date}}
                </td>
                <td [ngStyle]="{'font-weight': !mail.open && 'bold'}">
                  {{mail.user.firstName}} {{mail.user.lastName}}
                </td>
                <td>
                  <span class="mail" *ngIf="mail?.orderID === '00'"><a [routerLink]="['/mails/mail', mail._id]"
                      title="View Mail" (click)="openMail(mail._id)"
                      [ngStyle]="{'font-weight': !mail.open && 'bold'}">{{mail.subject}}</a>
                  </span>
                  <span class="mail" *ngIf="mail?.orderID !== '00'"><a [routerLink]="['/orders/invoice', mail.orderID]"
                      title="View Mail" (click)="openMail(mail._id)"
                      [ngStyle]="{'font-weight': !mail.open && 'bold'}">{{mail.subject}}</a>
                  </span>
                </td>
                <td>
                  <button type="button" class="btn btn-info">
                    <fa-icon [icon]="faStar" [ngClass]="{'text-warning': mail.status === true}"
                      (click)="statusMail(mail._id)"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger my-1" title="Delete Mail"
                    (click)="deleteMailIn(mail._id)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <div class="col-1 my-5"></div>
    </div>

    <ng-template #showNoDataBlock>
      <app-no-data></app-no-data>
    </ng-template>
  </div>
</ng-container>