<ng-container *ngIf="vm$ | async as vm">
  <div class="row">
    <div class="col-md-2">
      <a *ngIf="vm.order.returnActive" class="btn btn-warning col-md-12 my-2"
        [routerLink]="['/orders/admin-return', vm.order._id]" role="button">
        Return
      </a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
      <a *ngIf="vm.order.extraPrice > 0 && vm.order.isPaid" class="btn btn-secondary col-md-12 my-2"
        [routerLink]="['/orders/admin-device', vm.order._id]" role="button">
        Go to Device Card <fa-icon [icon]="faArrowRight"></fa-icon>
      </a>
    </div>
    <div class="col-md-2">
      <p>
        <a class="btn btn-secondary col-md-12 my-2" [routerLink]="['/orders/admin-delivery-note',vm.order._id]"
          role="button">
          Go to Delivery Note <fa-icon [icon]="faArrowRight"></fa-icon>
        </a>
      </p>
    </div>
    <div class="col-md-2">
      <p>
        <a class="btn btn-secondary col-md-12 my-2" [routerLink]="['/orders/admin-invoice',vm.order._id]" role="button">
          Go to Invoice <fa-icon [icon]="faArrowRight"></fa-icon>
        </a>
      </p>
    </div>
  </div>
  <h3><strong>Order {{vm.order._id}}</strong></h3>
  <p class="mb-5">placed on {{vm.order.createdAt | date:'medium'}}</p>
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th></th>
        <th>Ordered Product</th>
        <th>Quantity</th>
        <th>Price/ Item</th>
        <th>Cost/ Item</th>
        <th>Discount/ Item</th>
        <th>Warranty/ Item</th>
        <th *ngIf="vm.order.extraPrice > 0">Protection/ Item</th>
        <th *ngIf="vm.order.giftPrice > 0">Gift Package</th>
        <th></th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item  of vm.order.orderItems">
        <td><a [routerLink]="['/products/product', item._id]"><span class="cart-list-image"><img [src]="item.imageUrl"
                title="View Product"></span></a></td>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price | currency:'EUR'}}</td>
        <td class="text-danger">{{item.pricePurchase | currency:
          'EUR'}}</td>
        <td>
          <span *ngIf="item.discount > 0">-{{(item.price *
            item.discount) | currency:
            'EUR'}}</span>
          <span *ngIf="item.discount === 0">€0.00</span>
        </td>
        <td>{{(item.price * item.warranty) | currency:
          'EUR'}}</td>
        <td *ngIf="vm.order.extraPrice > 0">
          <span *ngIf="!vm.order.isPaid || (item.extra1 + item.extra2) === 0">
            {{(item.extra1 + item.extra2) | currency:
            'EUR'}}</span>
          <span *ngIf="vm.order.isPaid && (item.extra1 +  item.extra2) > 0"><a title="View Device Protection"
              class="text-info" [routerLink]="['/orders/admin-device',vm.order._id]"><strong>{{(item.extra1 +
                item.extra2) | currency:
                'EUR'}}</strong></a></span>
        </td>
        <td *ngIf="vm.order.giftPrice > 0">
          <span *ngIf="item.gift > 0 ">{{item.gift | currency:
            'EUR'}}<span class="text-danger">/ €0.5</span></span>
          <span *ngIf="item.gift === 0">€0.00</span>
        <td>
        <td>{{ (item.price * item.quantity -
          item.price * item.quantity * item.discount +
          item.price * item.quantity * item.warranty +
          (item.extra1 + item.extra2) * item.quantity +
          item.gift) | currency: 'EUR'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row mb-5">
    <div class="col-md-5">
      <app-shipping-address *ngIf="vm.order?.shippingAddress" [order]="vm.order">
      </app-shipping-address>

      <app-payment *ngIf="vm.order?.payment" [order]="vm.order">
      </app-payment>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="card my-4">
        <div class="card-body">
          <h5 class="card-title mb-4"><strong>Order Summary</strong></h5>
          <p><strong class="subtotal">Items Subtotal: </strong> {{vm.order.itemsPrice | currency: 'EUR'}} <span
              class="text-danger">/ {{vm.order.itemsCost + vm.order.giftPrice * 0.1 | currency: 'EUR'}} </span></p>
          <p><strong class="shipping">Shipping Fee: </strong> {{vm.order.shippingPrice | currency: 'EUR'}} </p>
          <p *ngIf="vm.order.primePrice > 0"><strong class="prime">Premium Subscription Fee:</strong>
            €70.00 <span class="text-danger">/ €7.00</span></p>
          <p *ngIf="vm.order.franchisePrice > 0"><strong class="franchise">Franchising System Fee:
            </strong> €500.00 <span class="text-danger">/ €150.00</span> </p>
          <p *ngIf="vm.order.voucher && vm.order.voucher !== '00' "><strong class="voucher">Loyalty
              Points
              Voucher: </strong> - €10.00</p>
          <p><strong class="tax">Tax Rate (15%): </strong> {{vm.order.taxPrice | currency: 'EUR'}}</p>
          <p *ngIf="!vm.order.isPaid"><strong>TOTAL: </strong><span class="price">{{vm.order.totalPrice
              |
              currency:
              'EUR'}}</span> <span class="text-danger">
              / {{vm.order.totalCost | currency: 'EUR'}} </span>
          </p>
          <p *ngIf="vm.order.isPaid" class="text-success"><strong>TOTAL: </strong>
            <span class="price">{{vm.order.totalPrice |
              currency:
              'EUR'}}</span><span class="text-danger">
              / {{vm.order.totalCost | currency: 'EUR'}} </span>
          </p>
          <p *ngIf="vm.order.returnActive"><strong class="return">Total Return: </strong>
            <span>{{vm.order.totalPriceReturn |
              currency:
              'EUR'}} / {{vm.order.itemsCostReturn | currency: 'EUR'}} </span>
          </p>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</ng-container>