<div class="cart-list" *ngIf="vm$ | async as vm">
  <h3 class="my-4">Shopping Cart</h3>
  <div *ngIf="vm?.user?.cart?.length; else showBoxBlock">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price/Item</th>
          <th>Discount/ Item</th>
          <th>Warranty/ Item</th>
          <th>Protection/ Item</th>
          <th>Gift Package</th>
          <th>Total/Item</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product  of vm.user.cart ">
          <th><span class="cart-list-image"><img [src]="product.imageUrl"></span></th>
          <td>{{product.name}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price | currency:
            'EUR'}}</td>
          <td>
            <span *ngIf="product.discount > 0">-{{(+product.price *
              +product.discount) | currency:
              'EUR'}}</span>
            <span *ngIf="product.discount === 0">€0.00</span>
          </td>
          <td>{{(product.price * product.warranty) | currency:
            'EUR'}}</td>
          <td>{{(product.extra1 + product.extra2) | currency:
            'EUR'}}</td>
          <td>{{product.gift | currency:
            'EUR'}}</td>
          <td>{{ (product.price * product.quantity -
            product.price * product.quantity * product.discount +
            product.price * product.quantity * product.warranty +
            (product.extra1 + product.extra2) * product.quantity +
            product.gift) | currency: 'EUR'}}</td>
          <td> <button type="button" class="btn btn-danger" title="Delete Item" (click)="deleteItem(product)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-5"></div>
      <div class="col-2">
        <strong>Subtotal: {{ vm.user.subtotal | currency: 'EUR'}}</strong>
      </div>
      <div class="col-5">
        <button class="btn btn-secondary" [routerLink]="['/users/cart-details', vm.user._id]"
          routerLinkActive="router-link-active">
          Proceed to Checkout <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <ng-template #showBoxBlock>
    <div class="col-6 offset-3 text-center">
      <div class="empty-cart-list-icon">
        <fa-icon [icon]="faBoxOpen"></fa-icon>
      </div>
      <h5>Hi, {{vm.user.firstName}}. Your Shopping Cart Is Empty</h5>
      <a class="btn btn-info mb-5" [routerLink]="['/products']">
        <fa-icon [icon]="faStoreAlt"></fa-icon>Start Shopping
      </a>
    </div>
  </ng-template>
</div>