<ng-container *ngIf="vm$ | async as vm">
  <h3 class="my-4 text-center"><strong>Overview</strong></h3>

  <div class="row" *ngIf="vm.orders?.length && vm.statistics; else showNoDataBlock">
    <div class="col-md-6">
      <table class="table table-hover text-center my-3">
        <thead>
          <tr>
            <th></th>
            <th>Total</th>
            <th>Not Paid</th>
            <th>Paid</th>
          </tr>
        </thead>
        <tbody>
          <th>Orders Quantity</th>
          <td>{{vm.orders.length}} </td>
          <td>{{vm.statistics.qtyNotPaid}} </td>
          <td>{{vm.statistics.qtyPaid}}</td>
        </tbody>
        <tbody>
          <th>Items Amount</th>
          <td>{{+vm.statistics.totalItemsNotPaid + +vm.statistics.totalItemsPaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.totalItemsNotPaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.totalItemsPaid | currency: 'EUR'}}</td>
        </tbody>
        <tbody>
          <th>Shipping Fee</th>
          <td>{{+vm.statistics.shippingNotPaid + +vm.statistics.shippingPaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.shippingNotPaid | currency: 'EUR'}} </td>
          <td>{{vm.statistics.shippingPaid | currency: 'EUR'}} </td>
        </tbody>
        <tbody>
          <th>Premium Fee</th>
          <td>{{+vm.statistics.totalPrimeNotPaid + +vm.statistics.totalPrimePaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.totalPrimeNotPaid | currency: 'EUR'}} </td>
          <td>{{vm.statistics.totalPrimePaid | currency: 'EUR'}} </td>
        </tbody>
        <tbody>
          <th>Franchising Fee</th>
          <td>{{+vm.statistics.totalFranchiseNotPaid + +vm.statistics.totalFranchisePaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.totalFranchiseNotPaid | currency: 'EUR'}} </td>
          <td>{{vm.statistics.totalFranchisePaid | currency: 'EUR'}} </td>
        </tbody>
        <tbody>
          <th>Total Amount / Revenue</th>
          <td>{{+vm.statistics.totalPriceNotPaid + +vm.statistics.totalPricePaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.totalPriceNotPaid | currency: 'EUR'}}</td>
          <td class="text-primary">{{vm.statistics.totalPricePaid | currency: 'EUR'}} </td>
        </tbody>
        <tbody>
          <th>Total Cost</th>
          <td>{{+vm.statistics.costNotPaid + +vm.statistics.costPaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.costNotPaid | currency: 'EUR'}}</td>
          <td class="text-danger">
            {{vm.statistics.costPaid| currency: 'EUR'}}
          </td>
        </tbody>
        <tbody>
          <th>Tax Rate (15%)</th>
          <td>{{+vm.statistics.taxNotPaid + +vm.statistics.taxPaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.taxNotPaid | currency: 'EUR'}}</td>
          <td class="text-danger">{{vm.statistics.taxPaid | currency: 'EUR'}}</td>
        </tbody>
        <tbody>
          <th>Total Return</th>
          <td>{{+vm.statistics.totalReturnNotPaid + +vm.statistics.totalReturnPaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.totalReturnNotPaid | currency: 'EUR'}}</td>
          <td class="text-danger">{{vm.statistics.totalReturnPaid | currency:
            'EUR'}}</td>
        </tbody>
        <tbody>
          <th>Tax Return (15%)</th>
          <td>{{+vm.statistics.totalTaxReturnNotPaid + +vm.statistics.totalTaxReturnPaid | currency: 'EUR'}}</td>
          <td>{{vm.statistics.totalTaxReturnNotPaid | currency: 'EUR'}}</td>
          <td class="text-primary">{{vm.statistics.totalTaxReturnPaid | currency: 'EUR'}}</td>
        </tbody>
        <tbody>
          <th>Profit</th>
          <td></td>
          <td></td>
          <td class="text-success">{{+vm.statistics.totalPricePaid -
            +vm.statistics.costPaid -
            +vm.statistics.taxPaid - +vm.statistics.totalReturnPaid + +vm.statistics.totalTaxReturnPaid | currency:
            'EUR'}}</td>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <table class="table table-hover text-center my-3">
        <thead>
          <tr>
            <th></th>
            <th>Quantity</th>
            <th>Active</th>
            <th>Closed</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <th>Return</th>
          <td>{{vm.statistics.qtyReturn}} </td>
          <td>{{vm.statistics.qtyReturnActive}} </td>
          <td>{{vm.statistics.qtyReturnClosed}} </td>
          <td class="text-danger">{{+vm.statistics.totalReturnNotPaid + +vm.statistics.totalReturnPaid | currency:
            'EUR'}}</td>
        </tbody>
      </table>
      <table class="table table-hover text-center mt-5">
        <thead>
          <tr>
            <th></th>
            <th>Standard</th>
            <th>Fastest</th>
            <th>Free</th>
            <th>Sent back</th>
          </tr>
        </thead>
        <tbody>
          <th>Delivery</th>
          <td>{{vm.statistics.qtyStandard}} </td>
          <td>{{vm.statistics.qtyFastest}} </td>
          <td>{{vm.statistics.qtyFree}} </td>
          <td>{{vm.statistics.qtyReturnReceived}} </td>
        </tbody>
      </table>

      <table class="table table-hover text-center mt-5">
        <thead>
          <tr>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <th>Extra Device Protection</th>
          <td>{{vm.statistics.qtyExtra}} </td>
          <td>{{vm.statistics.totalExtraPrice | currency: 'EUR'}}</td>
        </tbody>
        <tbody>
          <th>Gift Packages</th>
          <td>{{vm.statistics.qtyGift}} </td>
          <td>{{vm.statistics.totalGiftPrice | currency: 'EUR'}}</td>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #showNoDataBlock>
    <app-no-data></app-no-data>
  </ng-template>
</ng-container>