<ng-container *ngIf="vm$ | async as vm">
  <h3 class="my-4"><strong>Gift Packages List</strong></h3>

  <div *ngIf="vm.statistics && +vm.statistics.qtyGift < 1; else showTableBlock">
    <app-no-data></app-no-data>
  </div>

  <ng-template #showTableBlock>
    <table class="table table-hover text-center my-5">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Customer Name</th>
          <th>Cost</th>
          <th>Revenue</th>
          <th>Profit</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of vm.orders">
          <ng-container *ngIf="order.giftPrice > 0">
            <tr>
              <td>{{order._id}} </td>
              <td>{{order.createdAt | date:'medium'}}</td>
              <td>{{order.user.firstName}} {{order.user.lastName}}</td>
              <td class="text-danger">{{order.giftPrice*0.1 | currency: 'EUR'}}
              </td>
              <td [ngClass]="{ 'text-primary': order.isPaid }">{{order.giftPrice | currency: 'EUR'}}
              </td>
              <td [ngClass]="{ 'text-primary': order.isPaid }">{{order.giftPrice*0.9 | currency: 'EUR'}}
              </td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-info" title="View Order"
                    [routerLink]="['/orders/admin-order', order._id]">
                    <fa-icon [icon]="faSearch">
                    </fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>

    <table class="table table-hover text-center my-5" *ngIf="vm.statistics">
      <thead>
        <tr>
          <th>All Orders Qty</th>
          <th>Orders with Packages/Qty</th>
          <th>Total Cost</th>
          <th>Total Revenue</th>
          <th>Total Profit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{vm.orders.length}} </td>
          <td>{{vm.statistics.qtyGift}} </td>
          <td>{{vm.statistics.totalGiftPrice*0.1 | currency: 'EUR'}} </td>
          <td>{{vm.statistics.totalGiftPrice | currency: 'EUR'}} </td>
          <td>{{vm.statistics.totalGiftPrice*0.9 | currency: 'EUR'}} </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</ng-container>