.cart-list-image img {
  width: 100px;
}
.address p {
  margin-left: 4rem;
}
.name {
  margin-left: 1rem;
}
.subtotal {
  margin-right: 11rem;
}
.tax {
  margin-right: 10.8rem;
}
.shipping {
  margin-right: 11.7rem;
}
.prime {
  margin-right: 5.7rem;
}
.franchise {
  margin-right: 6.9rem;
}
.price {
  margin-right: 14.5rem;
}
