<ng-container *ngIf="vm$ | async as vm">
  <h3 class="row my-4">My Order Details</h3>
  <div *ngIf="vm.user.cart &&  vm.user.cart.length < 1; else showTableBlock">
    <p>Order Is Empty</p>
  </div>

  <ng-template #showTableBlock>
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price/Item</th>
          <th>Discount/ Item</th>
          <th>Warranty/ Item</th>
          <th>Protection/ Item</th>
          <th>Gift Package</th>
          <th>Total/Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product  of vm.user.cart ">
          <th><span class="cart-list-image"><img [src]="product.imageUrl"></span></th>
          <td>{{product.name}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price | currency:
            'EUR'}}</td>
          <td>
            <span *ngIf="product.discount > 0">-{{(product.price *
              product.discount) | currency:
              'EUR'}}</span>
            <span *ngIf="product.discount === 0">€0.00</span>
          </td>
          <td>{{(product.price * product.warranty) | currency:
            'EUR'}}</td>
          <td>{{(product.extra1 + product.extra2) | currency:
            'EUR'}}</td>
          <td>{{product.gift | currency:
            'EUR'}}</td>
          <td>{{ (product.price * product.quantity -
            product.price * product.quantity * product.discount +
            product.price * product.quantity * product.warranty +
            (product.extra1 + product.extra2) * product.quantity +
            product.gift) | currency: 'EUR'}}</td>
        </tr>
      </tbody>
    </table>

    <div class="row mb-5">
      <div class="col-6">
        <div class="card my-4">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h5 class="card-title"><strong>Shipping Address</strong></h5>
                <p> <strong>Name: </strong><span class="name"> {{name}}</span>
                </p>
                <p><strong>Address: </strong> {{address}}, {{city}}</p>
                <span class="address">
                  <p> {{postalCode}}, {{country}}</p>
                </span>
              </div>
              <div class="col-md-6">
                <h5 class="card-title"><strong>Invoice Address</strong></h5>
                <p> <strong>Name: </strong><span class="name"> {{nameInvoice}}</span>
                </p>
                <p><strong>Address: </strong> {{addressInvoice}}, {{cityInvoice}}</p>
                <span class="address">
                  <p> {{postalCodeInvoice}}, {{countryInvoice}}</p>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Payment</strong></h5>
            <p><strong>Payment Method:</strong> {{method}}</p>
            <p><strong>Account ending in:</strong>
              *********{{account | slice:-4
              }}</p>
          </div>
        </div>
      </div>

      <div class="col-1"></div>
      <div class="col-5">
        <div class="card my-5">
          <div class="card-body">
            <h5 class="card-title mb-4"><strong>My Order Summary</strong></h5>
            <p><strong class="subtotal">Items Subtotal:</strong> {{vm.user.subtotal | currency: 'EUR'}}</p>

            <p *ngIf="primePrice > 0"><strong class="prime">Premium Subscription Fee:</strong> €70.00</p>
            <p *ngIf="franchisePrice > 0"><strong class="franchise">Franchising System Fee:</strong> €500.00</p>

            <ng-container *ngIf="delivery === 10">
              <p><strong class="shipping">Shipping Fee:</strong> €10.00</p>
              <p><strong class="tax">Tax Rate (15%):</strong> {{(vm.user.subtotal + 10 + primePrice +
                franchisePrice)*0.15 | currency: 'EUR'}}</p>
              <p><strong class="price">TOTAL:</strong> {{((vm.user.subtotal + 10 + primePrice + franchisePrice )*0.15 +
                vm.user.subtotal + 10 + primePrice + franchisePrice) | currency: 'EUR'}}</p>
            </ng-container>

            <ng-container *ngIf="delivery === 5 && (vm.user.subtotal > 800 || primePrice > 0 || vm.user.isPrime)">
              <p><strong class="shipping">Shipping Fee:</strong> €00.00</p>
              <p><strong class="tax">Tax Rate (15%):</strong> {{(vm.user.subtotal + primePrice + franchisePrice)*0.15 |
                currency: 'EUR'}}</p>
              <p><strong class="price">TOTAL:</strong> {{((vm.user.subtotal + primePrice + franchisePrice )*0.15 +
                vm.user.subtotal + primePrice + franchisePrice) | currency: 'EUR'}}</p>
            </ng-container>

            <ng-container *ngIf="delivery === 5 && vm.user.subtotal <= 800 && primePrice === 0 && !vm.user.isPrime">
              <p><strong class="shipping">Shipping Fee:</strong> €5.00</p>
              <p><strong class="tax">Tax Rate (15%):</strong> {{(vm.user.subtotal + 5 + primePrice +
                franchisePrice)*0.15 | currency: 'EUR'}}</p>
              <p><strong class="price">TOTAL:</strong> {{((vm.user.subtotal + 5 + primePrice + franchisePrice )*0.15 +
                vm.user.subtotal + 5 + primePrice + franchisePrice) | currency: 'EUR'}}</p>
            </ng-container>

          </div>
        </div>
        <div class="row my-5">
          <div class="col-4"><button class="btn btn-secondary" [routerLink]="['/users/user-cart', vm.user._id]"
              routerLinkActive="router-link-active">
              <fa-icon [icon]="faArrowLeft"></fa-icon> Back to Cart
            </button></div>

          <div class="col-4"><button type="button" class="btn btn-secondary" (click)="placeOrder()"
              routerLinkActive="router-link-active">
              Place Order <fa-icon [icon]="faArrowRight"></fa-icon>
            </button></div>
          <div class="col-4"></div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>