.cart-list-image img {
  width: 100px;
}
.subtotal {
  margin-right: 11rem;
}
.tax {
  margin-right: 10.7rem;
}
.shipping {
  margin-right: 11.7rem;
}
.prime {
  margin-right: 5.7rem;
}
.franchise {
  margin-right: 6.9rem;
}
.voucher {
  margin-right: 6.7rem;
}
.price {
  margin-left: 14.4rem;
}
