<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Date</th>
      <th>Customer Name</th>
      <th>Order Total</th>
      <th>Shipping Fee</th>
      <th>Type of Shipping</th>
      <th>Order Dispatched</th>
      <th>Order Delivered</th>
      <th>Return Received</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders | slice: (page-1) * pageSize : page * pageSize">
      <td>{{order._id}} </td>
      <td>{{order.createdAt | date:'medium'}}</td>
      <td>{{order.user.firstName}} {{order.user.lastName}}</td>
      <td>{{order.totalPrice | currency: 'EUR'}}</td>
      <td *ngIf=""><span class=></span>
      </td>
      <td [ngClass]="{ 'text-primary': order.isPaid }">{{order.shippingPrice | currency: 'EUR'}}</td>
      <td>
        <span *ngIf="order.shippingPrice === 5" class="text-info">Standard</span>
        <span *ngIf="order.shippingPrice === 10" class="text-warning">Fastest</span>
        <span *ngIf="order.shippingPrice === 0" class="text-primary">Free</span>
      </td>
      <td>
        <span *ngIf="order.isSent && order.sentAt">{{order.sentAt | date:'medium'}}
        </span>
        <span *ngIf="!order.isSent"><fa-icon [icon]="faTimes"></fa-icon>
        </span>
      </td>
      <td>
        <span *ngIf="order.isDelivered && order.deliveredAt">{{order.deliveredAt | date:'medium'}}
        </span>
        <span *ngIf="!order.isDelivered"><fa-icon [icon]="faTimes"></fa-icon>
        </span>
      </td>
      <td>
        <span *ngIf="order.returnReceived && order.returnReceivedAt">{{order.returnReceivedAt | date:'medium'}}
        </span>
        <span *ngIf="!order.returnReceived">
          <fa-icon [icon]="faTimes"></fa-icon>
        </span>
      </td>
      <td>
        <button type="button" class="btn btn-info" title="View Delivery Note"
          [routerLink]="getDeliveryNoteLink(order._id)">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ngb-pagination [collectionSize]="orders.length" [(page)]="page" [pageSize]="pageSize"
  class="d-flex justify-content-center"></ngb-pagination>