<ng-container *ngIf="vm$|async as vm">
  <ng-container *ngIf="vmUser$ | async as vmUser">
    <ng-container *ngIf="vm?.order?.user?._id === vmUser?._id; else showMessageBlock">
      <div class="row">
        <div class="col-md-10">
          <p class="my-3">Order placed on {{vm.order.createdAt | date:'medium'}}</p>
        </div>
        <div class="col-md-2"><a class="btn btn-secondary col-md-12 my-2" [routerLink]="['/orders/order', vm.order._id]"
            role="button">
            Go to Order <fa-icon [icon]="faArrowRight"></fa-icon>
          </a></div>
      </div>
      <h3 class="mb-5">Order Items to return:</h3>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th></th>
            <th>Ordered Product</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item  of vm.order.orderItems">
            <th><span class="cart-list-image"><img [src]="item.imageUrl"></span></th>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
          <button type="button" class="btn btn-secondary col-12 my-3" (click)="confirmReturn()">
            Confirm Return
          </button>
        </div>
        <p>* There is no Refund for Gift Package, Premium or Franchise Subscriptions</p>
        <p>** There is no Shipping Fee Refund for already dispatched Orders</p>
      </div>
    </ng-container>

    <ng-template #showMessageBlock>
      <app-not-authorized></app-not-authorized>
    </ng-template>
  </ng-container>
</ng-container>