<ng-container *ngIf="vm$ | async as vm">
  <h3 class="my-4"><strong>Product List</strong></h3>
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Standard Price</th>
        <th>Special Offer (-5%)</th>
        <th>Warranty (2%)</th>
        <th>Device Protection</th>
        <th>Count in Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of vm.products | slice: (page-1) * pageSize : page * pageSize">
        <th>{{product.name}}</th>
        <td>{{product.brand}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price | currency: 'EUR'}}</td>
        <td>{{product.price - product.price*0.05 | currency: 'EUR'}}</td>
        <td>{{product.price * 0.02 | currency: 'EUR'}}</td>
        <td>
          <fa-icon [icon]="faCheck" class="text-success" *ngIf="product.extra"></fa-icon>
          <fa-icon [icon]="faTimes" class="text-danger" *ngIf="!product.extra"></fa-icon>
        </td>
        <td [ngClass]="product.quantity > 0 ? 'text-success' : 'text-danger'">{{ product.quantity }}</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info" title="View Product"
              [routerLink]="['/products/franchise-product', product._id]">
              <fa-icon [icon]="faSearch">
              </fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="vm.products.length" [(page)]="page" [pageSize]="pageSize"
    class="d-flex justify-content-center"></ngb-pagination>
</ng-container>