<ng-container *ngIf="vm$ | async as vm">
  <h3 class="my-4"><strong>Extra Device Protection Card List</strong></h3>

  <div *ngIf="vm.statistics && +vm.statistics.qtyExtra < 1; else showTableBlock">
    <div class="col-6 offset-3 text-center">
      <div class="empty-cart-list-icon">
        <fa-icon [icon]="faBoxOpen"></fa-icon>
      </div>
      <h5>No Data to show</h5>
    </div>
  </div>

  <ng-template #showTableBlock>
    <table class="table table-hover text-center my-5">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Date</th>
          <th>Customer Name</th>
          <th>Total Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of vm.orders">
          <ng-container *ngIf="order.extraPrice > 0">
            <tr>
              <td>{{order._id}} </td>
              <td>{{order.createdAt | date:'medium'}}</td>
              <td>{{order.user.firstName}} {{order.user.lastName}}</td>
              <td [ngClass]="{ 'text-primary': order.isPaid }">{{order.extraPrice | currency: 'EUR'}}
              </td>
              <td><span *ngIf="!order.isExtra" class="text-warning"> Not active</span>
                <span *ngIf="order.isExtra" class="text-success">Active from
                  {{order.deliveredAt | date}}</span>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-info" title="View Details"
                    [routerLink]="['/orders/manager-device', order._id]">
                    <fa-icon [icon]="faSearch">
                    </fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>

    <table class="table table-hover text-center my-5" *ngIf="vm.statistics">
      <thead>
        <tr>
          <th>Total Cards/Qty</th>
          <th>Total Cards Price/Amount</th>
          <th>Status Active/Qty</th>
          <th>Status Not Active/Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{vm.statistics.qtyExtra}} </td>
          <td>{{vm.statistics.totalExtraPrice | currency: 'EUR'}} </td>
          <td>{{vm.statistics.qtyExtraActive}} </td>
          <td>{{vm.statistics.qtyExtraNotActive}} </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</ng-container>