<ng-container *ngIf="vm$ | async as vm">
  <h3 class="my-4"><strong>Premium Member List</strong></h3>
  <div *ngIf="vm.statistics && +vm.statistics.qtyPrime < 1; else showTableBlock">
    <app-no-data></app-no-data>
  </div>

  <ng-template #showTableBlock>
    <table class="table table-hover text-center" *ngIf="vm.users && vm.users.active">
      <thead>
        <tr>
          <th>User ID</th>
          <th>User First Name</th>
          <th>User Last Name</th>
          <th>Type of Purchasing</th>
          <th>Premium From</th>
          <th>Premium Coupon</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of vm.users.active">
          <ng-container *ngIf="user.isPrime">
            <td>{{user._id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.purpose}}</td>
            <td> {{user.primeFrom |
              date}}</td>
            <td>
              <span *ngIf="user.coupon !== '00'">{{user.coupon}}</span>
              <fa-icon [icon]="faTimes" *ngIf="user.coupon === '00'"></fa-icon>
            </td>
            <td>
              <button type="button" class="btn btn-info" title="View User"
                [routerLink]="['/users/admin-user', user._id]">
                <fa-icon [icon]="faSearch"></fa-icon>
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <table class="table table-hover text-center my-5" *ngIf="vm.users.active && vm.statistics">
      <thead>
        <tr>
          <th>All Users / Quantity</th>
          <th>Total Premium Members Quantity</th>
          <th>Total Fee / Cost</th>
          <th>Total Fee / Revenue</th>
          <th>Total Fee / Profit</th>
          <th>Total Premium Coupon Quantity</th>
          <th>Total Premium Coupon Fee</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{vm.users.active.length}}</td>
          <td>{{vm.statistics.qtyPrime}}</td>
          <td class="text-danger">{{+vm.statistics.qtyPrime * 7 | currency: 'EUR'}}</td>
          <td>{{+vm.statistics.qtyPrime * 70 | currency: 'EUR'}}</td>
          <td class="text-success">{{+vm.statistics.qtyPrime * 63 | currency: 'EUR'}}</td>
          <td>{{vm.statistics.qtyPrimeCoupon}}</td>
          <td>{{+vm.statistics.qtyPrimeCoupon * 10 | currency: 'EUR'}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</ng-container>