<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vmUser$ | async as vmUser">
    <div class="row">
      <div class="col-2 my-5 py-5">
        <a class="btn btn-info col-md-12 my-2" [routerLink]="['/mails/sent-mail']" role="button">
          New Mail
        </a>
        <a class="btn btn-info col-md-12 my-2" [routerLink]="['/mails/mymails']" role="button">
          Incoming Mails
        </a>
        <a class="btn btn-info col-md-12 my-2 disabled" role="button">
          Sent Mails
        </a>
      </div>
      <div class="col-1 my-5"></div>
      <div class="col-7 my-5">
        <h3 class="text-center mb-4"><strong>Outgoing Mails:
          </strong></h3>

        <div *ngIf="vm.mails.length; else showNoDataBlock">
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th>Date</th>
                <th>To</th>
                <th>Subject</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let mail of vm.mails">
                <ng-container *ngIf="mail?.user?.email === vmUser?.email && !mail?.deletedOut">
                  <tr>
                    <td>
                      {{mail.createdAt | date}}
                    </td>
                    <td>
                      {{mail.firstNameTarget}} {{mail.lastNameTarget}}
                    </td>
                    <td class="mail"><a [routerLink]="['/mails/mail', mail._id]" title="View Mail">{{mail.subject}}</a>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" title="Delete Mail"
                        (click)="deleteMailOut(mail._id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="col-1 my-5"></div>
      </div>

      <ng-template #showNoDataBlock>
        <div class="col-6 offset-3 text-center">
          <div class="empty-cart-list-icon">
            <fa-icon [icon]="faEdit"></fa-icon>
          </div>
          <h5>No Mails to show</h5>
        </div>
      </ng-template>
    </div>
  </ng-container>
</ng-container>