<ng-container *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vmUser$ | async as vmUser">
    <div *ngIf="vm?.order?.user?._id === vmUser?._id; else showMessageBlock">
      <div class="row">
        <div class="col-md-8">
          <p class="my-3">Order placed on {{vm.order.createdAt | date:'medium'}}</p>
        </div>
        <div class="col-md-2">
          <a class="btn btn-secondary col-md-12 my-2" [routerLink]="orderLink" role="button">
            Go to Order <fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </div>
        <div class="col-md-2">
          <a class="btn btn-secondary col-md-12 my-2" [routerLink]="invoiceLink" role="button">
            Go to Invoice <fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </div>
      </div>

      <app-delivery-note-table [order]="vm.order"></app-delivery-note-table>
    </div>

    <ng-template #showMessageBlock>
      <app-not-authorized></app-not-authorized>
    </ng-template>
  </ng-container>
</ng-container>